.text {
    font: 40px sans-serif;
    fill: #f3f3f3;
    pointer-events: none;
    text-anchor: middle;
}

.node {
    fill: #9933FF;
    color: #9933FF;
}
    
.node circle {
  cursor: pointer;
  stroke: #9933FF;
  stroke-width: 0px;
}

.node rect {
  cursor: pointer;
  stroke: #000000;
  stroke-width: 0px;
}

.node text {
    font: 60px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}

line.link {
    fill: none;
    stroke-width: 1.5px;
}